.my_hover:hover {
    border: 1px solid rgba(44, 161, 182);
}

.line {
    width: 3rem;
    height: 1px;
    background-color: rgb(108, 117, 125);
}

.text-muted-hover:hover {
    color: rgb(44, 161, 182) !important;
}

.banner_text {
    font-size: 4rem;
    line-height: 1.1;
}