<div class="container my-4">
    <banner></banner>
    <div class="row text-center my-4">
        <div class="col-12 col-md-6 col-lg-3 p-2" *ngFor="let pokemon of detailData | paginate : { itemsPerPage: 20, currentPage: page, totalItems: totalPokemons }">
            <div class="py-5 my_hover card">
                <div>
                    <img class="bg-white rounded-circle p-3" src="{{pokemon.sprites.front_default}}" alt="">
                </div>
                <div class="fs-5 fw-bold capitalize mt-2">{{pokemon.name}}</div>
                <a class="text-muted text-muted-hover mb-2" routerLink="{{pokemon.name}}">more details</a>
            </div>
        </div>
    </div>
</div>

<div class="container text-center my-5">
    <pagination-controls (pageChange)="page = $event; detailData = []; getAllPokemons()"></pagination-controls>
</div>
