<div class="container my-4 text-center">
    <div class="fs-3">{{dataByName?.name}}</div>
    <div class="my-5">
        <img src="{{dataByName?.sprites.front_default}}" alt="">
    </div>

    <div class="my-2"><span class="text-muted fw-bold">Order: </span>{{dataByName?.order}}</div>
    <div class="my-2">
        <span class="text-muted fw-bold d-inline">Abilities: </span>
        <div class="d-inline" *ngFor="let ability of dataByName?.abilities">{{ability.ability.name}}</div>
    </div>
    <div class="my-2">
        <span class="text-muted fw-bold">Type: </span>
        <div class="d-inline" *ngFor="let type of dataByName?.types">{{type.type.name}}</div>
    </div>
    <div class="my-2">
        <span class="text-muted fw-bold">Stats: </span>
        <div class="d-inline" *ngFor="let stat of dataByName?.stats; last as isLast">{{stat.stat.name}}<div class="d-inline" *ngIf="!isLast">, </div>
            <ng-template #other_content></ng-template>
        </div>
    </div>
    <div class="my-2">
        <span class="text-muted fw-bold">Moves: </span>
        <div class="d-inline" *ngFor="let move of dataByName?.moves; last as isLast">{{move.move.name}}<div class="d-inline" *ngIf="!isLast">, </div>
            <ng-template #other_content></ng-template></div>
    </div>
    <div class="my-2">
        <span class="text-muted fw-bold">Evolves to: </span>
        <div class="d-inline" *ngFor="let evolution of evolutionChain; last as isLast">{{evolution.species_name}}<div class="d-inline" *ngIf="!isLast">, </div>
            <ng-template #other_content></ng-template></div>
    </div>
</div>